@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,900|Roboto+Slab:400,700);
/* WOO CUSTOM STYLESHEET
---------------------
*/
.bordered_glass_block {
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 0.6em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}
.inner_shadow_block {
  background: #189fbb;
  box-shadow: inset 0 0 9px 4px rgba(0, 0, 0, 0.2);
}
.gradient-menu {
  width: 65%;
  margin: 0 auto;
  height: 8px;
  background: -moz-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(21, 110, 127, 0)), color-stop(30%, rgba(21, 110, 127, 0.9)), color-stop(50%, #156e7f), color-stop(70%, rgba(21, 110, 127, 0.9)), color-stop(100%, rgba(21, 110, 127, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00156e7f', endColorstr='#00156e7f', GradientType=1);
  /* IE6-9 */

}
.background_white_blue {
  background: #f2edcb;
  /* Old browsers */

  background: -moz-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 0%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2edcb), color-stop(50%, #ffffff), color-stop(0%, #f2edcb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 0%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* IE10+ */

  background: linear-gradient(to right, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
  /* IE6-9 */

}
.content_block_dark {
  max-width: 700px;
  padding: 1em 60px 2em 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 3px 3px;
  margin: 0 auto 0em auto;
}
.style1_button_checked + label {
  background-color: #12798e;
}
.style2_button_checked + label {
  background-color: #aaa;
}
/*
  input.filter-all:checked ~ .products li.product,
  input.filter-1:checked ~ .products li.product.line1,
  input.filter-2:checked ~ .products li.product.line2,
  input.filter-3:checked ~ .products li.product.line3,
  input.filter-4:checked ~ .products li.product.line4{
      opacity: 1 !important;
  } 

  input.filter-1:checked ~ .products li.product:not(.line1),
  input.filter-2:checked ~ .products li.product:not(.line2),
  input.filter-3:checked ~ .products li.product:not(.line3),
  input.filter-4:checked ~ .products li.product:not(.line4){
      
    opacity: 0.2;
    box-shadow: none;
    cursor: default;

    &:hover {
      width: @base-width;
      margin: @base-margin !important;
      z-index: 100;

      &.first{
        &.line1{
          margin-left: @big-margin-left !important;
        }
        &.line2{
          margin-left: @small-margin-left!important;
        }
        &.line3{
          margin-left: @small-margin-left!important;
        }
        &.line4{
          margin-left: @big-margin-left !important;
        }
      }
    }

    .rb-trigger {
      display: none;
    }

  } 
*/
.recent-posts .recent-posts-list {
  list-style: none outside none;
}
.recent-posts .post-content header img.attachment-thumbnail {
  display: inline-block;
  max-width: 50px;
  margin: 1%;
  padding: 0;
  vertical-align: middle;
}
.recent-posts .post-content header h3 {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}
.bon-coin .annonces-list {
  list-style: none outside none;
}
.bon-coin .post-content header img.attachment-thumbnail {
  display: inline-block;
  max-width: 90px;
  margin: 1%;
  padding: 0;
  vertical-align: middle;
}
.bon-coin .post-content header h3 {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}
body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
body a {
  font-family: 'Roboto', sans-serif;
  color: #444;
  font-weight: 400;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body a:hover {
  color: #23c2e3;
}
body a h1,
body a h2,
body a h3 {
  font-family: 'Roboto Slab', serif;
  color: #444;
  font-weight: 400;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body a h1:hover,
body a h2:hover,
body a h3:hover {
  color: #23c2e3;
}
body a.button {
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
  padding: 0 0.4em;
  border-radius: 10px;
  min-width: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #23c2e3;
}
body a.button:hover {
  background-color: #189fbb;
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
}
body a.button:active {
  background-color: #12798e;
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
}
body h1,
body h2,
body h3 {
  font-family: 'Roboto Slab', serif;
}
body h1 a,
body h2 a,
body h3 a {
  font-family: 'Roboto Slab', serif;
}
body .extenseur {
  float: none !important;
  clear: both;
  width: 100% !important;
  height: 1px;
}
#header hgroup {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1.3em;
}
#header #menu-button {
  display: none;
}
#header #menu-checkbox {
  display: none;
}
#header #navigation {
  height: auto;
  max-width: 1050px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 1.5em;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
#header #navigation a {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #999;
}
#header #navigation a:hover {
  color: #23c2e3;
}
#header #navigation ul.nav {
  /*   -webkit-columns: @number; */

  /*   -moz-columns: @number; */

  /*   columns: @number; */

  column-count: 3;
  column-fill: balance;
  -moz-column-count: 3;
  -moz-column-fill: balance;
  -webkit-column-count: 3;
  -webkit-column-fill: balance;
}
#header #navigation ul.nav ul.sub-menu li a {
  font-size: 0.85em;
}
#header #navigation ul.nav > li.menu-item {
  text-align: center;
}
#header #navigation li.current-menu-item > a {
  color: black;
}
#content {
  max-width: 900px;
}
#sidebar {
  display: none;
}
.footer-wrap {
  margin-top: 1em;
  background: #555;
}
.footer-wrap a {
  color: white;
}
.footer-wrap #footer-widgets {
  width: 75%;
}
.footer-wrap #footer {
  display: none;
}
.home {
  background: url("../images/fondindien2.jpg") no-repeat scroll 50% 140px;
  background-size: 1100px;
}
.home .gradient-menu {
  width: 100%;
}
.home #header hgroup {
  width: 700px;
  margin: 0 auto 1.2em auto;
}
.home #content {
  max-width: 690px;
}
.home #content p {
  margin: 0px;
}
.home .product-cloud {
  text-align: center;
}
.home .product-cloud .cloud-wrapper {
  clear: both;
}
.home .product-cloud ul.products li.product {
  background: url("../images/volume_pochette.png") no-repeat scroll;
  background-size: cover;
  position: relative;
  margin: 3.5% !important;
  width: 25.2%;
  padding: 0 5px 5px 0;
  box-shadow: 8px 9px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.home .product-cloud ul.products li.product > a > img {
  width: 100%;
}
.home .product-cloud ul.products li.product img {
  padding: 0;
  margin: 0;
  border: 0px !important;
}
.home .product-cloud ul.products li.product.first.line1 {
  margin-left: 3.5% !important;
}
.home .product-cloud ul.products li.product.first.line2 {
  margin-left: 3.5% !important;
}
.home .product-cloud ul.products li.product.first.line3 {
  margin-left: 3.5% !important;
}
.home .product-cloud ul.products li.product.first.line4 {
  margin-left: 3.5% !important;
}
.home .about-area,
.home .recent-posts,
.home .bon-coin {
  width: 93%;
  padding: 3%;
  margin: 4% 0.5% 0 0.5%;
  background-color: #fcfeff;
  border-radius: 8px;
  box-shadow: 5px 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.home .a-la-une {
  display: none;
  position: absolute;
  top: 500px;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 2%;
  box-shadow: 0px 19px 10px -10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.home .a-la-une h2 {
  margin-bottom: 40px;
}
.home .a-la-une .bg-block1 {
  opacity: 0.8;
  padding: 2px 190px 0px 7px;
  background: url("../images/fond-a-la-une/top-left.png") no-repeat top left, url("../images/fond-a-la-une/bottom-left.png") no-repeat bottom left, url("../images/fond-a-la-une/top-right2.png") no-repeat top right, url("../images/fond-a-la-une/center.jpg") repeat top left content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 830px;
  height: 100%;
  z-index: -100;
}
.home .a-la-une .column1,
.home .a-la-une .column2,
.home .a-la-une .column3 {
  text-align: center;
  margin: 1em auto 0 auto;
  max-width: 500px;
}
.home .a-la-une .column1 img {
  float: none;
}
.home .a-la-une p {
  text-align: justify;
}
.home .a-la-une h2 {
  /*color: white;*/
}
.home .a-la-une br {
  display: none;
}
.home .a-la-une a.close {
  float: right;
}
.home .a-la-une a.close:hover {
  color: #23c2e3;
}
.single-product,
.single-artist {
  background-color: white;
  background: url("../images/fondindien2.jpg") no-repeat scroll 50% 140px;
  background-size: 1500px;
}
.single-product li.current-menu-item > a,
.single-artist li.current-menu-item > a {
  color: grey !important;
}
.single-product #header #navigation,
.single-artist #header #navigation {
  width: 75%;
}
.single-product #content,
.single-artist #content {
  width: 75%;
}
.single-product section.product-content > br,
.single-artist section.product-content > br,
.single-product section.post-content > br,
.single-artist section.post-content > br,
.single-product section.related-albums > br,
.single-artist section.related-albums > br {
  display: none;
}
.single-product section.product-content > h2,
.single-artist section.product-content > h2,
.single-product section.post-content > h2,
.single-artist section.post-content > h2,
.single-product section.related-albums > h2,
.single-artist section.related-albums > h2 {
  clear: both;
  padding: 0 60px 8px 60px;
  margin: 0.5em auto 0 auto;
  border-radius: 3px 3px 0 0;
  background: -moz-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(21, 110, 127, 0)), color-stop(30%, rgba(21, 110, 127, 0.9)), color-stop(50%, #156e7f), color-stop(70%, rgba(21, 110, 127, 0.9)), color-stop(100%, rgba(21, 110, 127, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(21, 110, 127, 0) 0%, rgba(21, 110, 127, 0.9) 30%, #156e7f 50%, rgba(21, 110, 127, 0.9) 70%, rgba(21, 110, 127, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00156e7f', endColorstr='#00156e7f', GradientType=1);
  /* IE6-9 */

  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-position: 0 100%;
  max-width: 700px;
}
.single-product section.product-content > ul,
.single-artist section.product-content > ul,
.single-product section.post-content > ul,
.single-artist section.post-content > ul,
.single-product section.related-albums > ul,
.single-artist section.related-albums > ul {
  max-width: 700px;
  padding: 1em 60px 2em 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 3px 3px;
  margin: 0 auto 0em auto;
}
.single-product section.product-content .product-title,
.single-artist section.product-content .product-title,
.single-product section.post-content .product-title,
.single-artist section.post-content .product-title,
.single-product section.related-albums .product-title,
.single-artist section.related-albums .product-title {
  margin-bottom: 1em;
  text-align: center;
}
.single-product section.product-content .product-title h1,
.single-artist section.product-content .product-title h1,
.single-product section.post-content .product-title h1,
.single-artist section.post-content .product-title h1,
.single-product section.related-albums .product-title h1,
.single-artist section.related-albums .product-title h1 {
  margin: 0.5em 0 0 0;
}
.single-product section.product-content section.product-images,
.single-artist section.product-content section.product-images,
.single-product section.post-content section.product-images,
.single-artist section.post-content section.product-images,
.single-product section.related-albums section.product-images,
.single-artist section.related-albums section.product-images {
  max-width: 590px;
  margin: 0 auto 1em auto;
}
.single-product section.product-content section.product-images a img,
.single-artist section.product-content section.product-images a img,
.single-product section.post-content section.product-images a img,
.single-artist section.post-content section.product-images a img,
.single-product section.related-albums section.product-images a img,
.single-artist section.related-albums section.product-images a img {
  width: 49%;
  vertical-align: middle;
}
.single-product section.product-content section.product-images a.artist-image.circle img,
.single-artist section.product-content section.product-images a.artist-image.circle img,
.single-product section.post-content section.product-images a.artist-image.circle img,
.single-artist section.post-content section.product-images a.artist-image.circle img,
.single-product section.related-albums section.product-images a.artist-image.circle img,
.single-artist section.related-albums section.product-images a.artist-image.circle img {
  border-radius: 50%;
}
.single-product section.product-content section.purchase,
.single-artist section.product-content section.purchase,
.single-product section.post-content section.purchase,
.single-artist section.post-content section.purchase,
.single-product section.related-albums section.purchase,
.single-artist section.related-albums section.purchase {
  float: left;
  width: 48%;
  padding: 1%;
  text-align: center;
}
.single-product section.product-content .songs-list,
.single-artist section.product-content .songs-list,
.single-product section.post-content .songs-list,
.single-artist section.post-content .songs-list,
.single-product section.related-albums .songs-list,
.single-artist section.related-albums .songs-list {
  display: none;
}
.single-product section.product-content .description,
.single-artist section.product-content .description,
.single-product section.post-content .description,
.single-artist section.post-content .description,
.single-product section.related-albums .description,
.single-artist section.related-albums .description {
  max-width: 700px;
  padding: 1em 60px 2em 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 3px 3px;
  margin: 0 auto 0em auto;
}
.single-product section.product-content .description > p,
.single-artist section.product-content .description > p,
.single-product section.post-content .description > p,
.single-artist section.post-content .description > p,
.single-product section.related-albums .description > p,
.single-artist section.related-albums .description > p {
  margin: 0 auto;
}
.single-product section.product-content .listening,
.single-artist section.product-content .listening,
.single-product section.post-content .listening,
.single-artist section.post-content .listening,
.single-product section.related-albums .listening,
.single-artist section.related-albums .listening {
  float: left;
  width: 48%;
  min-width: 250px;
  padding: 1%;
}
.single-product section.product-content .listening > br,
.single-artist section.product-content .listening > br,
.single-product section.post-content .listening > br,
.single-artist section.post-content .listening > br,
.single-product section.related-albums .listening > br,
.single-artist section.related-albums .listening > br,
.single-product section.product-content .listening > p,
.single-artist section.product-content .listening > p,
.single-product section.post-content .listening > p,
.single-artist section.post-content .listening > p,
.single-product section.related-albums .listening > p,
.single-artist section.related-albums .listening > p {
  display: none;
}
.single-product section.product-content .gallery,
.single-artist section.product-content .gallery,
.single-product section.post-content .gallery,
.single-artist section.post-content .gallery,
.single-product section.related-albums .gallery,
.single-artist section.related-albums .gallery {
  max-width: 700px;
  padding: 1em 60px 2em 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 3px 3px;
  margin: 0 auto 0em auto;
}
.single-product section.product-content iframe,
.single-artist section.product-content iframe,
.single-product section.post-content iframe,
.single-artist section.post-content iframe,
.single-product section.related-albums iframe,
.single-artist section.related-albums iframe {
  display: block;
  margin: 0 auto;
}
.single-product section.post-content section.product-images,
.single-artist section.post-content section.product-images {
  margin: 0  auto 1em auto;
  max-width: 290px;
}
.single-product section.post-content section.product-images a img,
.single-artist section.post-content section.product-images a img {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.single-product section.post-content section.product-images a.artist-image img,
.single-artist section.post-content section.product-images a.artist-image img {
  border-radius: 50%;
}
.blog,
.single-post,
.archive.category {
  background: url("../images/fondpapier4.jpg") repeat scroll;
}
.blog #content,
.single-post #content,
.archive.category #content {
  margin-top: 1.7em;
}
.blog #content aside.post-meta > ul,
.single-post #content aside.post-meta > ul,
.archive.category #content aside.post-meta > ul {
  margin-bottom: 0;
}
.blog #content nav#post-entries,
.single-post #content nav#post-entries,
.archive.category #content nav#post-entries {
  width: 100%;
}
.blog #content nav#post-entries .nav-prev,
.single-post #content nav#post-entries .nav-prev,
.archive.category #content nav#post-entries .nav-prev,
.blog #content nav#post-entries .nav-next,
.single-post #content nav#post-entries .nav-next,
.archive.category #content nav#post-entries .nav-next {
  max-width: 45%;
}
.blog #content .col-left,
.single-post #content .col-left,
.archive.category #content .col-left {
  width: 65%;
}
.blog #content .col-left section.post-content,
.single-post #content .col-left section.post-content,
.archive.category #content .col-left section.post-content {
  margin-bottom: 2em;
}
.blog #content .col-left section.post-content blockquote,
.single-post #content .col-left section.post-content blockquote,
.archive.category #content .col-left section.post-content blockquote {
  padding: 0 2em;
}
.blog #content .col-left section.post-content blockquote p,
.single-post #content .col-left section.post-content blockquote p,
.archive.category #content .col-left section.post-content blockquote p {
  font-size: 1em;
}
.blog #content .col-left section.post-content blockquote .pullquote,
.single-post #content .col-left section.post-content blockquote .pullquote,
.archive.category #content .col-left section.post-content blockquote .pullquote {
  font-size: 1em;
}
.blog #content .col-left section.post-content ul,
.single-post #content .col-left section.post-content ul,
.archive.category #content .col-left section.post-content ul {
  padding-left: 2em;
}
.blog #content .col-left img.wp-post-image,
.single-post #content .col-left img.wp-post-image,
.archive.category #content .col-left img.wp-post-image {
  float: left;
  max-width: 120px;
  padding: 1em;
}
.blog #content .col-right,
.single-post #content .col-right,
.archive.category #content .col-right {
  width: 23%;
  background-color: rgba(21, 110, 127, 0.6);
  border-radius: 20px;
  margin: 3em 1% 0 1%;
  padding: 2%;
}
.blog #sidebar,
.single-post #sidebar,
.archive.category #sidebar {
  display: block;
}
.post-type-archive-product,
.page-template-archive-artist-php,
.archive.tax-product_cat,
.single-artist,
.post-type-archive-artist {
  background-color: white;
  background: url("../images/fondindien2.jpg") no-repeat scroll 50% 140px;
  background-size: 1500px;
}
.post-type-archive-product ul,
.page-template-archive-artist-php ul,
.archive.tax-product_cat ul,
.single-artist ul,
.post-type-archive-artist ul {
  margin: 0;
}
.post-type-archive-product li.current-menu-item > a,
.page-template-archive-artist-php li.current-menu-item > a,
.archive.tax-product_cat li.current-menu-item > a,
.single-artist li.current-menu-item > a,
.post-type-archive-artist li.current-menu-item > a {
  color: grey !important;
}
.post-type-archive-product #archive-wrapper,
.page-template-archive-artist-php #archive-wrapper,
.archive.tax-product_cat #archive-wrapper,
.single-artist #archive-wrapper,
.post-type-archive-artist #archive-wrapper {
  clear: both;
}
.post-type-archive-product #archive-wrapper .woo-pagination,
.page-template-archive-artist-php #archive-wrapper .woo-pagination,
.archive.tax-product_cat #archive-wrapper .woo-pagination,
.single-artist #archive-wrapper .woo-pagination,
.post-type-archive-artist #archive-wrapper .woo-pagination {
  float: left;
  width: 50%;
}
.post-type-archive-product #archive-wrapper .woo-pagination ul.page-numbers,
.page-template-archive-artist-php #archive-wrapper .woo-pagination ul.page-numbers,
.archive.tax-product_cat #archive-wrapper .woo-pagination ul.page-numbers,
.single-artist #archive-wrapper .woo-pagination ul.page-numbers,
.post-type-archive-artist #archive-wrapper .woo-pagination ul.page-numbers {
  float: right;
  list-style: none outside;
}
.post-type-archive-product #archive-wrapper .woo-pagination ul.page-numbers > li,
.page-template-archive-artist-php #archive-wrapper .woo-pagination ul.page-numbers > li,
.archive.tax-product_cat #archive-wrapper .woo-pagination ul.page-numbers > li,
.single-artist #archive-wrapper .woo-pagination ul.page-numbers > li,
.post-type-archive-artist #archive-wrapper .woo-pagination ul.page-numbers > li {
  display: inline-block;
}
.post-type-archive-product #archive-wrapper .woocommerce-result-count,
.page-template-archive-artist-php #archive-wrapper .woocommerce-result-count,
.archive.tax-product_cat #archive-wrapper .woocommerce-result-count,
.single-artist #archive-wrapper .woocommerce-result-count,
.post-type-archive-artist #archive-wrapper .woocommerce-result-count {
  padding: 1%;
}
.post-type-archive-product ul.products,
.page-template-archive-artist-php ul.products,
.archive.tax-product_cat ul.products,
.single-artist ul.products,
.post-type-archive-artist ul.products {
  clear: both;
}
.post-type-archive-product ul.products > li,
.page-template-archive-artist-php ul.products > li,
.archive.tax-product_cat ul.products > li,
.single-artist ul.products > li,
.post-type-archive-artist ul.products > li {
  padding: 2%;
}
.post-type-archive-product ul.products > li a.thumb img,
.page-template-archive-artist-php ul.products > li a.thumb img,
.archive.tax-product_cat ul.products > li a.thumb img,
.single-artist ul.products > li a.thumb img,
.post-type-archive-artist ul.products > li a.thumb img {
  width: 100%;
}
.post-type-archive-product ul.products > li a,
.page-template-archive-artist-php ul.products > li a,
.archive.tax-product_cat ul.products > li a,
.single-artist ul.products > li a,
.post-type-archive-artist ul.products > li a {
  color: #189fbb;
}
.post-type-archive-product ul.products > li a:hover,
.page-template-archive-artist-php ul.products > li a:hover,
.archive.tax-product_cat ul.products > li a:hover,
.single-artist ul.products > li a:hover,
.post-type-archive-artist ul.products > li a:hover {
  color: #12798e;
}
.post-type-archive-product ul.products.list > li,
.page-template-archive-artist-php ul.products.list > li,
.archive.tax-product_cat ul.products.list > li,
.single-artist ul.products.list > li,
.post-type-archive-artist ul.products.list > li {
  float: none;
  clear: both;
  width: 96%;
  margin-bottom: 2em;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.post-type-archive-product ul.products.list > li a.thumb,
.page-template-archive-artist-php ul.products.list > li a.thumb,
.archive.tax-product_cat ul.products.list > li a.thumb,
.single-artist ul.products.list > li a.thumb,
.post-type-archive-artist ul.products.list > li a.thumb {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.post-type-archive-product ul.products.list > li a.thumb img,
.page-template-archive-artist-php ul.products.list > li a.thumb img,
.archive.tax-product_cat ul.products.list > li a.thumb img,
.single-artist ul.products.list > li a.thumb img,
.post-type-archive-artist ul.products.list > li a.thumb img {
  overflow: visible;
}
.post-type-archive-product ul.products.list > li section.content,
.page-template-archive-artist-php ul.products.list > li section.content,
.archive.tax-product_cat ul.products.list > li section.content,
.single-artist ul.products.list > li section.content,
.post-type-archive-artist ul.products.list > li section.content {
  float: left;
  width: 65%;
  min-width: 300px;
  margin-bottom: 2em;
  vertical-align: top;
}
.post-type-archive-product ul.products.list > li section.content section.title-artists h3,
.page-template-archive-artist-php ul.products.list > li section.content section.title-artists h3,
.archive.tax-product_cat ul.products.list > li section.content section.title-artists h3,
.single-artist ul.products.list > li section.content section.title-artists h3,
.post-type-archive-artist ul.products.list > li section.content section.title-artists h3 {
  display: inline-block;
  margin-right: 2em;
}
.post-type-archive-product ul.products.list > li section.content section.title-artists ul.artists-names,
.page-template-archive-artist-php ul.products.list > li section.content section.title-artists ul.artists-names,
.archive.tax-product_cat ul.products.list > li section.content section.title-artists ul.artists-names,
.single-artist ul.products.list > li section.content section.title-artists ul.artists-names,
.post-type-archive-artist ul.products.list > li section.content section.title-artists ul.artists-names {
  display: inline-block;
  list-style: none outside;
}
.post-type-archive-product ul.products.list > li section.content section.title-artists ul.artists-names li,
.page-template-archive-artist-php ul.products.list > li section.content section.title-artists ul.artists-names li,
.archive.tax-product_cat ul.products.list > li section.content section.title-artists ul.artists-names li,
.single-artist ul.products.list > li section.content section.title-artists ul.artists-names li,
.post-type-archive-artist ul.products.list > li section.content section.title-artists ul.artists-names li {
  display: inline-block;
  margin-right: 1em;
}
.post-type-archive-product ul.products.list > li section.content section.post-data,
.page-template-archive-artist-php ul.products.list > li section.content section.post-data,
.archive.tax-product_cat ul.products.list > li section.content section.post-data,
.single-artist ul.products.list > li section.content section.post-data,
.post-type-archive-artist ul.products.list > li section.content section.post-data {
  margin-bottom: 1em;
}
.post-type-archive-product ul.products.list > li section.content section.post-data span.post-date,
.page-template-archive-artist-php ul.products.list > li section.content section.post-data span.post-date,
.archive.tax-product_cat ul.products.list > li section.content section.post-data span.post-date,
.single-artist ul.products.list > li section.content section.post-data span.post-date,
.post-type-archive-artist ul.products.list > li section.content section.post-data span.post-date {
  margin-right: 2em;
}
.post-type-archive-product ul.products.grid,
.page-template-archive-artist-php ul.products.grid,
.archive.tax-product_cat ul.products.grid,
.single-artist ul.products.grid,
.post-type-archive-artist ul.products.grid {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.post-type-archive-product ul.products.grid > li,
.page-template-archive-artist-php ul.products.grid > li,
.archive.tax-product_cat ul.products.grid > li,
.single-artist ul.products.grid > li,
.post-type-archive-artist ul.products.grid > li {
  display: block;
  float: left;
  width: 28%;
  margin: 0.5%;
}
.post-type-archive-product ul.products.grid > li a.thumb,
.page-template-archive-artist-php ul.products.grid > li a.thumb,
.archive.tax-product_cat ul.products.grid > li a.thumb,
.single-artist ul.products.grid > li a.thumb,
.post-type-archive-artist ul.products.grid > li a.thumb {
  width: 100%;
}
.post-type-archive-product ul.products.grid > li section.content,
.page-template-archive-artist-php ul.products.grid > li section.content,
.archive.tax-product_cat ul.products.grid > li section.content,
.single-artist ul.products.grid > li section.content,
.post-type-archive-artist ul.products.grid > li section.content {
  padding: 1em 1em 0 1em;
}
.post-type-archive-product ul.products.grid > li ul.artists-names,
.page-template-archive-artist-php ul.products.grid > li ul.artists-names,
.archive.tax-product_cat ul.products.grid > li ul.artists-names,
.single-artist ul.products.grid > li ul.artists-names,
.post-type-archive-artist ul.products.grid > li ul.artists-names {
  list-style: none outside;
}
.post-type-archive-product ul.products.grid > li div.post-excerpt,
.page-template-archive-artist-php ul.products.grid > li div.post-excerpt,
.archive.tax-product_cat ul.products.grid > li div.post-excerpt,
.single-artist ul.products.grid > li div.post-excerpt,
.post-type-archive-artist ul.products.grid > li div.post-excerpt {
  display: none;
}
.post-type-archive-product #archive-browser,
.page-template-archive-artist-php #archive-browser,
.archive.tax-product_cat #archive-browser,
.single-artist #archive-browser,
.post-type-archive-artist #archive-browser {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.post-type-archive-product #archive-browser > div,
.page-template-archive-artist-php #archive-browser > div,
.archive.tax-product_cat #archive-browser > div,
.single-artist #archive-browser > div,
.post-type-archive-artist #archive-browser > div {
  width: 25%;
  float: left;
  text-align: center;
}
.post-type-archive-product #archive-browser select,
.page-template-archive-artist-php #archive-browser select,
.archive.tax-product_cat #archive-browser select,
.single-artist #archive-browser select,
.post-type-archive-artist #archive-browser select {
  min-width: 8em;
}
.post-type-archive-product #archive-browser a#mode,
.page-template-archive-artist-php #archive-browser a#mode,
.archive.tax-product_cat #archive-browser a#mode,
.single-artist #archive-browser a#mode,
.post-type-archive-artist #archive-browser a#mode {
  display: block;
  margin: 0 auto;
  width: 37px;
  height: 14px;
  background: url('../images/mode.png') no-repeat scroll 0px 0px transparent;
}
.post-type-archive-product #archive-browser a#mode.flip,
.page-template-archive-artist-php #archive-browser a#mode.flip,
.archive.tax-product_cat #archive-browser a#mode.flip,
.single-artist #archive-browser a#mode.flip,
.post-type-archive-artist #archive-browser a#mode.flip {
  background-position: 0px 100% !important;
}
.product-cloud input.css-filter {
  display: none;
}
.product-cloud label {
  display: inline-block;
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
  padding: 0 0.4em;
  border-radius: 10px;
  min-width: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #23c2e3;
}
.product-cloud label:hover {
  background-color: #189fbb;
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
}
.product-cloud label:active {
  background-color: #12798e;
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
}
.product-cloud input.css-filter:checked + label {
  background-color: #12798e;
}
@media only screen and (min-width: 600px) {
  #header #menu-button {
    display: block;
    float: right;
    margin-right: 90px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1em;
    color: #999;
  }
  #header #menu-button:hover {
    color: #23c2e3;
  }
  #header #menu-checkbox {
    display: none;
  }
  #header #menu-checkbox:not(:checked) ~ #navigation {
    height: 1.7em;
  }
  #header #menu-checkbox:checked ~ #navigation {
    height: 9.6em;
  }
  #header #menu-checkbox:checked ~ #navigation + label {
    background-color: #aaa;
  }
  #header #navigation {
    -moz-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  #header #navigation ul.nav {
    /*   -webkit-columns: @number; */
  
    /*   -moz-columns: @number; */
  
    /*   columns: @number; */
  
    column-count: 1;
    column-fill: balance;
    -moz-column-count: 1;
    -moz-column-fill: balance;
    -webkit-column-count: 1;
    -webkit-column-fill: balance;
  }
  #header #navigation ul.nav > li.menu-item {
    text-align: center;
    float: left;
    width: 20%;
  }
  .home #header #menu-button {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .post img,
  .type-page img {
    max-width: 30%;
  }
  .gradient-menu {
    width: 1000px;
  }
  .home .product-cloud {
    text-align: center;
  }
  .home .product-cloud .cloud-wrapper {
    clear: both;
  }
  .home .product-cloud ul.products li.product {
    position: relative;
    margin: 3.6% !important;
    width: 25.2%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home .product-cloud ul.products li.product > a > img {
    width: 100%;
  }
  .home .product-cloud ul.products li.product img {
    padding: 0;
    margin: 0;
    border: 0px !important;
  }
  .home .product-cloud ul.products li.product.first.line1 {
    margin-left: 3.6% !important;
  }
  .home .product-cloud ul.products li.product.first.line2 {
    margin-left: 3.6% !important;
  }
  .home .product-cloud ul.products li.product.first.line3 {
    margin-left: 3.6% !important;
  }
  .home .product-cloud ul.products li.product.first.line4 {
    margin-left: 3.6% !important;
  }
  .home .product-cloud ul.products li.product:hover {
    width: 32.4%;
    margin: 0 !important;
    z-index: 100;
    box-shadow: 12px 13px 15px 2px rgba(0, 0, 0, 0.3);
  }
  .home .product-cloud ul.products li.product:hover.first.line1 {
    margin-left: 0% !important;
  }
  .home .product-cloud ul.products li.product:hover.first.line2 {
    margin-left: 0% !important;
  }
  .home .product-cloud ul.products li.product:hover.first.line3 {
    margin-left: 0% !important;
  }
  .home .product-cloud ul.products li.product:hover.first.line4 {
    margin-left: 0% !important;
  }
  .home .gradient-menu {
    width: 720px;
  }
  .home #header #navigation {
    width: 720px;
  }
  .home .a-la-une .column1,
  .home .a-la-une .column2,
  .home .a-la-une .column3 {
    float: left;
  }
  .home .a-la-une .column1 {
    max-width: 25%;
  }
  .home .a-la-une .column2 {
    max-width: 36%;
    margin: 0.5em 3%;
  }
  .home .a-la-une .column3 {
    width: 33%;
  }
  .home .a-la-une .about-area {
    width: 100%;
  }
  .home .a-la-une .recent-posts {
    width: 100%;
  }
}
@media only screen and (min-width: 1160px) {
  .home .about-area,
  .home .recent-posts,
  .home .bon-coin {
    width: 93%;
    padding: 3%;
    margin: 4% 0.5% 0 0.5%;
    background-color: #fcfeff;
    border-radius: 8px;
    box-shadow: 5px 2px 10px 0 rgba(0, 0, 0, 0.15);
  }
}
