@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700|Roboto:300,400,500,900);
/* WOO CUSTOM STYLESHEET
---------------------
*/
.woo-sc-button {
  font-family: sans-serif;
  display: inline-block;
  line-height: 1em;
  padding: 6px 13px;
  margin: 0 .6em 1.5em 0;
  border: 1px solid #4081af;
  border-bottom-color: #20559a;
  color: white !important;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
  /*Border radius*/

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Background*/

  background-color: #237fd7;
  /*Fallback*/

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #52a8e8), color-stop(1, #2e76cf));
  background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
  /*Box shadow*/

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, 0.3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, 0.29) /*Shadow*/;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, 0.3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, 0.29) /*Shadow*/;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3) /*Top*/, inset 0 0 2px rgba(255, 255, 255, 0.3) /*Shine*/, 0 1px 2px rgba(0, 0, 0, 0.29) /*Shadow*/;
}
.woo-sc-button:hover,
.woo-sc-button.hover {
  text-decoration: none !important;
  /*Background*/

  background: #0073d2;
  /*Fallback*/

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3e9ee5), color-stop(1, #1666ca));
  background: -moz-linear-gradient(center top, #3e9ee5 20%, #1666ca 100%);
}
.woo-sc-button:active,
.woo-sc-button:checked,
.woo-sc-button.active {
  /*Box shadow*/

  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3) /*Shine*/, 0 1px 0 #ffffff /*Shadow*/;
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3) /*Shine*/, 0 1px 0 #ffffff /*Shadow*/;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3) /*Shine*/, 0 1px 0 #ffffff /*Shadow*/;
}
.woo-sc-button.silver {
  color: #444 !important;
  text-shadow: 0 1px #fff;
  border-color: #bbb;
  border-bottom-color: #999;
  background-color: #d8d8d8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #e9e9e9), color-stop(1, #cccccc));
  background: -moz-linear-gradient(center top, #e9e9e9 20%, #cccccc 100%);
}
.pagination ul {
  list-style: none outside;
}
.pagination ul li {
  display: inline-block;
}
/*  }}} */
/*  {{{ mystile buttons */
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  display: inline-block;
  padding: .236em .857em;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  /* Make inputs the same size as normal text */

  font-family: inherit;
  /* Make inputs use the correct typeface instead of the browser default */

  cursor: pointer;
  /* Inputs need pointers! */

  overflow: visible;
  /* IE fix */

  width: auto;
  /* IE fix */

  line-height: 1.618em;
  margin: 0 .327em;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: bold;
  text-shadow: 0 1px 0 #cc1500;
  background-color: #ff5911;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5911), to(#dd2600));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff5911, #dd2600);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff5911, #dd2600);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff5911, #dd2600);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff5911, #dd2600);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff5911, #dd2600);
  border: 1px solid #bb0400;
  -webkit-border-radius: 0.202em;
  border-radius: 0.202em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #ff7b33, inset 0 -1px #cc1500;
  box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #ff7b33, inset 0 -1px #cc1500;
}
a.button.alt,
a.comment-reply-link.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
a.button.checkout,
a.comment-reply-link.checkout,
#commentform #submit.checkout,
.submit.checkout,
input[type=submit].checkout,
input.button.checkout,
button.button.checkout {
  background-color: #777777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#444444));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #777777, #444444);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #777777, #444444);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #777777, #444444);
  /* IE10 */

  background-image: -o-linear-gradient(top, #777777, #444444);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #777777, #444444);
  text-shadow: 0 1px 0 #333333;
  border: 1px solid #222222;
  -webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #999999, inset 0 -1px #333333;
  box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px #999999, inset 0 -1px #333333;
}
a.button.alt:hover,
a.comment-reply-link.alt:hover,
#commentform #submit.alt:hover,
.submit.alt:hover,
input[type=submit].alt:hover,
input.button.alt:hover,
button.button.alt:hover,
a.button.checkout:hover,
a.comment-reply-link.checkout:hover,
#commentform #submit.checkout:hover,
.submit.checkout:hover,
input[type=submit].checkout:hover,
input.button.checkout:hover,
button.button.checkout:hover {
  background-color: #777777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#555555));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #777777, #555555);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #777777, #555555);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #777777, #555555);
  /* IE10 */

  background-image: -o-linear-gradient(top, #777777, #555555);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #777777, #555555);
}
a.button.alt:active,
a.comment-reply-link.alt:active,
#commentform #submit.alt:active,
.submit.alt:active,
input[type=submit].alt:active,
input.button.alt:active,
button.button.alt:active,
a.button.checkout:active,
a.comment-reply-link.checkout:active,
#commentform #submit.checkout:active,
.submit.checkout:active,
input[type=submit].checkout:active,
input.button.checkout:active,
button.button.checkout:active {
  background-color: #555555;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#777777));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #555555, #777777);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #555555, #777777);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #555555, #777777);
  /* IE10 */

  background-image: -o-linear-gradient(top, #555555, #777777);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #555555, #777777);
}
a.button.large,
a.comment-reply-link.large,
#commentform #submit.large,
.submit.large,
input[type=submit].large,
input.button.large,
button.button.large {
  font-size: 1.387em;
}
a.button.small,
a.comment-reply-link.small,
#commentform #submit.small,
.submit.small,
input[type=submit].small,
input.button.small,
button.button.small {
  font-size: .857em;
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  text-decoration: none;
  background-color: #ff5911;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5911), to(#ee3700));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff5911, #ee3700);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff5911, #ee3700);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff5911, #ee3700);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff5911, #ee3700);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff5911, #ee3700);
}
a.button:active,
a.comment-reply-link:active,
#commentform #submit:active,
.submit:active,
input[type=submit]:active,
input.button:active,
button.button:active {
  background-color: #ee3700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee3700), to(#ff5911));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ee3700, #ff5911);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ee3700, #ff5911);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ee3700, #ff5911);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ee3700, #ff5911);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ee3700, #ff5911);
  -webkit-box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0.327em rgba(0, 0, 0, 0.075), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* }}} */
/*  }}} */.app_font {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
}
.content_font {
  font-family: 'Crimson Text', sans-serif;
}
.link_style1 {
  font-family: 'Crimson Text', sans-serif;
  color: #444;
  font-weight: 700;
  /*   text-shadow: 0 1px rgba(0,0,0,0.3); */

  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.link_style1:hover {
  color: #23c2e3;
}
.link_style2 {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link_style2:hover {
  color: #222;
}
.link_style2p {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link_style2p:hover {
  color: #222;
}
.typo_paragraph {
  font-family: 'Crimson Text', sans-serif;
}
.content_block {
  padding: 1.2em;
  padding-top: 0.5em;
}
.bordered_glass_block {
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 0.6em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}
.inner_shadow_block {
  background: #a0947d;
  box-shadow: inset 0 0 9px 4px rgba(0, 0, 0, 0.35);
}
.background_white_blue {
  background: #f2edcb;
  /* Old browsers */

  background: -moz-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 0%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2edcb), color-stop(50%, #ffffff), color-stop(0%, #f2edcb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 0%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* IE10+ */

  background: linear-gradient(to right, #f2edcb 0%, #ffffff 50%, #f2edcb 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color3', GradientType=1);
  /* IE6-9 */

}
.style1_button {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  min-width: 45px;
  background-color: #23c2e3;
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
}
.style1_button:hover {
  background-color: #189fbb;
}
.style1_button:active {
  background-color: #158ca5;
}
.style1_button_checked + label {
  background-color: #158ca5;
}
.cloud {
  text-align: center;
}
.cloud ul.products {
  background-color: white;
  border-radius: 50%;
}
.cloud ul.products li.product {
  position: relative;
  margin: 3% !important;
  width: 19%;
  border-radius: 3px;
  opacity: 0;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cloud ul.products li.product img {
  padding: 0;
  margin: 0;
  border: 0px !important;
  border-radius: 3px;
}
.cloud ul.products li.product.first.line1 {
  margin-left: 15.5% !important;
}
.cloud ul.products li.product.first.line2 {
  margin-left: 3% !important;
}
.cloud ul.products li.product.first.line3 {
  margin-left: 3% !important;
}
.cloud ul.products li.product.first.line4 {
  margin-left: 15.5% !important;
}
.cloud ul.products li.product:hover {
  width: 25%;
  margin: 0 !important;
  z-index: 100;
  box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.2);
}
.cloud ul.products li.product:hover.first.line1 {
  margin-left: 12.5% !important;
}
.cloud ul.products li.product:hover.first.line2 {
  margin-left: 0% !important;
}
.cloud ul.products li.product:hover.first.line3 {
  margin-left: 0% !important;
}
.cloud ul.products li.product:hover.first.line4 {
  margin-left: 12.5% !important;
}
.cloud .rb-trigger {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.cloud .rb-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
  pointer-events: none;
  cursor: default;
  background-color: #555;
}
.cloud .rb-grid li {
  cursor: pointer;
}
.cloud .rb-close {
  position: absolute;
  top: 10%;
  right: 6%;
  width: 2em;
  height: 2em;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 1000;
  background-color: red;
}
.cloud .rb-close::before {
  content: 'x';
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  line-height: 0.6;
  text-align: center;
  text-indent: 0px;
}
.cloud input.filter-all:checked ~ .products li.product,
.cloud input.filter-1:checked ~ .products li.product.line1,
.cloud input.filter-2:checked ~ .products li.product.line2,
.cloud input.filter-3:checked ~ .products li.product.line3,
.cloud input.filter-4:checked ~ .products li.product.line4 {
  opacity: 1 !important;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1),
.cloud input.filter-2:checked ~ .products li.product:not(.line2),
.cloud input.filter-3:checked ~ .products li.product:not(.line3),
.cloud input.filter-4:checked ~ .products li.product:not(.line4) {
  opacity: 0.2;
  box-shadow: none;
  cursor: default;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1):hover,
.cloud input.filter-2:checked ~ .products li.product:not(.line2):hover,
.cloud input.filter-3:checked ~ .products li.product:not(.line3):hover,
.cloud input.filter-4:checked ~ .products li.product:not(.line4):hover {
  width: 19%;
  margin: 3% !important;
  z-index: 100;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line1,
.cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line1,
.cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line1,
.cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line1 {
  margin-left: 15.5% !important;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line2,
.cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line2,
.cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line2,
.cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line2 {
  margin-left: 3% !important;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line3,
.cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line3,
.cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line3,
.cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line3 {
  margin-left: 3% !important;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line4,
.cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line4,
.cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line4,
.cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line4 {
  margin-left: 15.5% !important;
}
.cloud input.filter-1:checked ~ .products li.product:not(.line1) .rb-trigger,
.cloud input.filter-2:checked ~ .products li.product:not(.line2) .rb-trigger,
.cloud input.filter-3:checked ~ .products li.product:not(.line3) .rb-trigger,
.cloud input.filter-4:checked ~ .products li.product:not(.line4) .rb-trigger {
  display: none;
}
.recent-posts .recent-posts-list {
  list-style: none outside none;
}
.recent-posts .post-short .post-content {
  width: 100%;
}
.recent-posts .post-short .thumbnail {
  float: left;
  width: 30%;
}
body {
  padding: 0;
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 18px;
  line-height: 24px;
  background: url("../images/bg1.jpg");
  background-size: cover;
}
a {
  font-family: 'Crimson Text', sans-serif;
  color: #444;
  font-weight: 700;
  /*   text-shadow: 0 1px rgba(0,0,0,0.3); */

  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #23c2e3;
}
p {
  font-family: 'Crimson Text', sans-serif;
}
h2 {
  font-family: 'Crimson Text', sans-serif;
}
h3 {
  font-size: 1.1em;
}
#content {
  width: 95%;
}
#header hgroup {
  width: 30%;
  margin: 1em auto;
}
.product-cloud input.css-filter {
  display: none;
}
.product-cloud label {
  display: inline-block;
  padding: 0.2em 0.6em;
  border-radius: 10px;
  min-width: 45px;
  background-color: #23c2e3;
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
}
.product-cloud label:hover {
  background-color: #189fbb;
}
.product-cloud label:active {
  background-color: #158ca5;
}
.product-cloud input.css-filter:checked + label {
  background-color: #158ca5;
}
#navigation {
  background: #a0947d;
  box-shadow: inset 0 0 9px 4px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  height: auto;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
#navigation ul.nav {
  width: 75%;
  margin: 0 auto;
  /*   -webkit-columns: @number; */

  /*   -moz-columns: @number; */

  /*   columns: @number; */

  column-count: 3;
  column-fill: balance;
  -moz-column-count: 3;
  -moz-column-fill: balance;
  -webkit-column-count: 3;
  -webkit-column-fill: balance;
}
#navigation ul.nav li.menu-item a {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#navigation ul.nav li.menu-item a:hover {
  color: #222;
}
#navigation ul.nav ul {
  display: block;
  position: relative;
  visibility: visible;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
}
#navigation ul.nav ul li a {
  font-size: 0.85em;
  padding-left: 1em;
}
#menu-button {
  position: absolute;
  left: 3%;
  top: 140px;
  padding: 0.2em 0.6em;
  border-radius: 10px;
  min-width: 45px;
  background-color: #23c2e3;
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.8em;
  color: white;
  font-weight: 500;
}
#menu-button:hover {
  background-color: #189fbb;
}
#menu-button:active {
  background-color: #158ca5;
}
#menu-checkbox:checked + label {
  background-color: #158ca5;
}
#menu-checkbox {
  display: none;
}
#menu-checkbox:not(:checked) ~ #navigation {
  height: 0;
}
#menu-checkbox:checked ~ #navigation {
  height: 7.6em;
}
#footer {
  background: #333;
  border-radius: 20% 20% 0% 0%;
}
.home-cea#main {
  width: 100% !important;
}
.home-cea .entry h2 {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .home-cea .about-area {
    width: 100%;
  }
  .home-cea .recent-posts {
    width: 100%;
  }
}
@media only screen and (min-width: 1160px) {
  .home-cea .about-area {
    float: left;
    width: 21%;
    padding: 1.2em;
    padding-top: 0.5em;
    margin-top: 3%;
  }
  .home-cea .recent-posts {
    float: left;
    width: 21%;
    padding: 1.2em;
    padding-top: 0.5em;
    margin-top: 3%;
  }
  .home-cea .product-cloud {
    text-align: center;
    width: 45%;
    float: left;
    padding: 1.2em;
    padding-top: 0.5em;
  }
  .home-cea .product-cloud ul.products {
    background-color: white;
    border-radius: 50%;
  }
  .home-cea .product-cloud ul.products li.product {
    position: relative;
    margin: 3% !important;
    width: 19%;
    border-radius: 3px;
    opacity: 0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-cea .product-cloud ul.products li.product img {
    padding: 0;
    margin: 0;
    border: 0px !important;
    border-radius: 3px;
  }
  .home-cea .product-cloud ul.products li.product.first.line1 {
    margin-left: 15.5% !important;
  }
  .home-cea .product-cloud ul.products li.product.first.line2 {
    margin-left: 3% !important;
  }
  .home-cea .product-cloud ul.products li.product.first.line3 {
    margin-left: 3% !important;
  }
  .home-cea .product-cloud ul.products li.product.first.line4 {
    margin-left: 15.5% !important;
  }
  .home-cea .product-cloud ul.products li.product:hover {
    width: 25%;
    margin: 0 !important;
    z-index: 100;
    box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .home-cea .product-cloud ul.products li.product:hover.first.line1 {
    margin-left: 12.5% !important;
  }
  .home-cea .product-cloud ul.products li.product:hover.first.line2 {
    margin-left: 0% !important;
  }
  .home-cea .product-cloud ul.products li.product:hover.first.line3 {
    margin-left: 0% !important;
  }
  .home-cea .product-cloud ul.products li.product:hover.first.line4 {
    margin-left: 12.5% !important;
  }
  .home-cea .product-cloud .rb-trigger {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .home-cea .product-cloud .rb-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
    pointer-events: none;
    cursor: default;
    background-color: #555;
  }
  .home-cea .product-cloud .rb-grid li {
    cursor: pointer;
  }
  .home-cea .product-cloud .rb-close {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 2em;
    height: 2em;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
    background-color: red;
  }
  .home-cea .product-cloud .rb-close::before {
    content: 'x';
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
  }
  .home-cea .product-cloud input.filter-all:checked ~ .products li.product,
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product.line1,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product.line2,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product.line3,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product.line4 {
    opacity: 1 !important;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1),
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2),
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3),
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4) {
    opacity: 0.2;
    box-shadow: none;
    cursor: default;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1):hover,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2):hover,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3):hover,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4):hover {
    width: 19%;
    margin: 3% !important;
    z-index: 100;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line1,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line1,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line1,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line1 {
    margin-left: 15.5% !important;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line2,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line2,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line2,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line2 {
    margin-left: 3% !important;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line3,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line3,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line3,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line3 {
    margin-left: 3% !important;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line4,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line4,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line4,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line4 {
    margin-left: 15.5% !important;
  }
  .home-cea .product-cloud input.filter-1:checked ~ .products li.product:not(.line1) .rb-trigger,
  .home-cea .product-cloud input.filter-2:checked ~ .products li.product:not(.line2) .rb-trigger,
  .home-cea .product-cloud input.filter-3:checked ~ .products li.product:not(.line3) .rb-trigger,
  .home-cea .product-cloud input.filter-4:checked ~ .products li.product:not(.line4) .rb-trigger {
    display: none;
  }
  .archive-product ul.products.list > li {
    float: none;
    clear: both;
    width: 100%;
    margin-bottom: 2em;
    text-align: left;
  }
  .archive-product ul.products.list > li a.thumb {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 2em;
  }
  .archive-product ul.products.list > li a.thumb img {
    overflow: visible;
  }
  .archive-product ul.products.list > li section.content {
    min-width: 300px;
    margin-bottom: 2em;
    vertical-align: top;
  }
  .archive-product ul.products.grid > li {
    display: block;
    float: left;
    width: 22.05%;
    height: 25%;
  }
  .archive-product ul.products.grid > li a.thumb {
    width: 100%;
  }
  .archive-product ul.products.grid > li .caption .post-excerpt {
    display: none;
  }
}
