input.filter-all:checked ~ .products li.product,
input.filter-1:checked ~ .products li.product.line1,
input.filter-2:checked ~ .products li.product.line2,
input.filter-3:checked ~ .products li.product.line3,
input.filter-4:checked ~ .products li.product.line4 {
  opacity: 1 !important;
}
input.filter-1:checked ~ .products li.product:not(.line1),
input.filter-2:checked ~ .products li.product:not(.line2),
input.filter-3:checked ~ .products li.product:not(.line3),
input.filter-4:checked ~ .products li.product:not(.line4) {
  opacity: 0.2;
  box-shadow: none;
  cursor: default;
}
input.filter-1:checked ~ .products li.product:not(.line1):hover,
input.filter-2:checked ~ .products li.product:not(.line2):hover,
input.filter-3:checked ~ .products li.product:not(.line3):hover,
input.filter-4:checked ~ .products li.product:not(.line4):hover {
  width: 14%;
  margin: 3% !important;
  z-index: 100;
}
input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line1,
input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line1,
input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line1,
input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line1 {
  margin-left: 3% !important;
}
input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line2,
input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line2,
input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line2,
input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line2 {
  margin-left: 3% !important;
}
input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line3,
input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line3,
input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line3,
input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line3 {
  margin-left: 3% !important;
}
input.filter-1:checked ~ .products li.product:not(.line1):hover.first.line4,
input.filter-2:checked ~ .products li.product:not(.line2):hover.first.line4,
input.filter-3:checked ~ .products li.product:not(.line3):hover.first.line4,
input.filter-4:checked ~ .products li.product:not(.line4):hover.first.line4 {
  margin-left: 3% !important;
}
input.filter-1:checked ~ .products li.product:not(.line1) .rb-trigger,
input.filter-2:checked ~ .products li.product:not(.line2) .rb-trigger,
input.filter-3:checked ~ .products li.product:not(.line3) .rb-trigger,
input.filter-4:checked ~ .products li.product:not(.line4) .rb-trigger {
  display: none;
}
