/* 
WOO CUSTOM STYLESHEET
---------------------
*/


/*
*  {{{ ---------------- GLOBAL RULES ------------------------------- 
*/

@jazzColor: rgba(255, 230, 163, 1); 

body {
  padding: 0;
}

.col-full {
  max-width: 120em;
}

#header {
  hgroup {
    width: 30%;
    margin: 0 auto;
  }

  #navigation {
    float: left;
    width: 100%;
    background-color: lightblue;
    overflow: hidden;
    height: 160px; // by default the menu is open

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    ul.nav {
      width: 75%;
      margin: 0 auto;
      -moz-columns: 3;
      float: none;
      li.menu-item {
        float: none;  
        a {
          background: none;
          border: none; 
          &:hover {
            border: none;
          }
        }

      }
      ul {
        display: block;
        position: relative;
        visibility: visible;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        &:hover{
          li{
            border: 0;
          }
          a {
            border: 0px;
          }
        }
        
      }
        
    }
  }
  #menu-button {
    position: absolute;
    left: 3%;
    top: 140px;
  }
  #menu-checkbox {
    display: none;
    &:not(:checked) ~ #navigation{
      height: 0; //if recent css3 rules are supported, the menu is closed
    }
    &:checked ~ #navigation {
      height: 160px; //and can be reopen of course
    }
  }
  
  .woo-sc-button {
    font-family: sans-serif;
    display: inline-block;
    line-height: 1em;
    padding: 6px 13px;
    margin:0 .6em 1.5em 0;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white !important;
    text-align: center;
    text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
    text-decoration: none !important;
    
    /*Border radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /*Background*/
    background-color: #237fd7; /*Fallback*/
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(.2, #52a8e8),
            color-stop(1, #2e76cf)
          );
    background: -moz-linear-gradient(
            center top,
            #52a8e8 20%,
            #2e76cf 100%
          );
    
    /*Box shadow*/
    -webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
              inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
              0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
            inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
            0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
          inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
          0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;

    &:hover, &.hover {
      text-decoration: none !important;
      /*Background*/
      background: #0073d2; /*Fallback*/
      background: -webkit-gradient(
              linear,
              left top,
              left bottom,
              color-stop(.2, #3e9ee5),
              color-stop(1, #1666ca)
            );
      background: -moz-linear-gradient(
              center top,
              #3e9ee5 20%,
              #1666ca 100%
            );
    }
    
    &:active, &:checked, &.active {	
      /*Box shadow*/
      -webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
                0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
      -moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
              0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
      box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
            0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
    }
        
    &.silver {
      color: #444 !important;
     text-shadow:0 1px #fff;
      border-color: #bbb; border-bottom-color: #999; background-color: #d8d8d8;
      background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e9e9e9),color-stop(1, #ccc));
      background: -moz-linear-gradient(center top,#e9e9e9 20%,#ccc 100%);

    }

  }
  
}

.pagination {
  ul {
    list-style: none outside;
    li {
      display: inline-block;
    }
  }
}


// }}}
/*
*  {{{ ---------------- HOMEPAGE GLOBAL STYLE ------------------------------------
*/

.home-cea {
  .hentry {
    h2 {
      text-align: center;
    }
  }
}

// }}}
/* 
* {{{ ----------------- PRODUCT CLOUD SHORTCODE-------------------- 
*/

@media only screen and (min-width: 1160px) { 

.product-cloud {
  ul.products li.product {
    position: relative;
    margin: 3% !important;
    width: 20%;
    border-radius: 3px;
    opacity: 0;
    box-shadow: 0 0 0px 5px @jazzColor,0 0 0px 6px darken(@jazzColor, 10%), 0 8px 18px -4px rgba(0,0,0,0.4);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
    img {
      padding: 0;
      margin: 0;
      border: 0px !important;
      border-radius: 3px;
    }

    &.tiny {
      width: 15%;
    }
    
    &.first{
      &.line1{
        margin-left: 5% !important;
      }
      &.line2{
        margin-left: 3% !important;
      }
      &.line3{
        margin-left: 3% !important;
      }
      &.line4{
        margin-left: 15% !important;
      }
    }

    &:hover {
      width: 26%;
      margin: 0 !important;
      z-index: 100;

      &.tiny {
        width: 21%;
      }

      &.first{
        &.line1{
          margin-left: 2% !important;
        }
        &.line2{
          margin-left: 0% !important;
        }
        &.line3{
          margin-left: 0% !important;
        }
        &.line4{
          margin-left: 12% !important;
        }
      }
    }

  }

  .rb-trigger {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .rb-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
    pointer-events: none;
    cursor: default;
    background-color: #555;
  }

  .rb-grid {
    li {
      cursor: pointer;
    }
  }

  .rb-close {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 2em;
    height: 2em;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
    background-color: red;
  }

  .rb-close::before {
    content: 'x';
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
  }



  input.filter-all:checked ~ .products li.product,
  input.filter-1:checked ~ .products li.product.line1,
  input.filter-2:checked ~ .products li.product.line2,
  input.filter-3:checked ~ .products li.product.line3,
  input.filter-4:checked ~ .products li.product.line4{
      opacity: 1 !important;
  } 

  input.filter-1:checked ~ .products li.product:not(.line1),
  input.filter-2:checked ~ .products li.product:not(.line2),
  input.filter-3:checked ~ .products li.product:not(.line3),
  input.filter-4:checked ~ .products li.product:not(.line4){
      
      opacity: 0.2;
      box-shadow: none;
      cursor: default;

      &:hover {
        width: 20%;
        margin: 3% !important;
        z-index: 100;

        &.tiny {
          width: 15%;
        }

        &.first{
          &.line1{
            margin-left: 5% !important;
          }
          &.line2{
            margin-left: 3% !important;
          }
          &.line3{
            margin-left: 3% !important;
          }
          &.line4{
            margin-left: 15% !important;
          }
        }
      }

      .rb-trigger {
        display: none;
      }

  }

}

}
    

// }}}
/*
*  {{{ --------------------- RECENT POST SHORTCODE ------------------------
*/
.recent-posts-list {
  list-style: none outside none;
}

.post-short {
  .post-content {
    width: 100%;
  }

  .thumbnail {
    float: left;
    width: 30%;
  }
}

// }}} 

/* {{{ --------------------- HOMEPAGE LAYOUT -------------------------- 
*/

.home-cea {
  
  &#main {
    width: 100% !important;
  }

  @media only screen and (min-width: 768px) { 

    .about-area {
      width: 100%;
    }

    .recent-posts {
      width: 100%;
    }

  }


  @media only screen and (min-width: 1160px) { 

    .about-area {
      float: left;
      width: 22%;
      margin: 3% 1% 0% 2%;
    }

    .recent-posts {
      float: left;
      width: 22%;
      margin: 3% 2% 0% 1%;
    }

    .product-cloud {
      width: 47%;
      float: left;
      margin: 0% 1% 0% 1%;
    }

    
  }


}

// }}}

/*
* {{{ ------------------------- ARCHIVE PRODUCT LIST -------------------------------- 
*/

.archive-product {
  
  ul.products {
    &.list{
      & > li {
        float: none;
        width: 100%;
        text-align: left; 
        
        img {
          width: 30%;
          margin: 0;
          display: inline-block;
        } 
        .caption {
          display: inline-block;
          width: 50%;
          min-width: 300px;
          vertical-align: top
        }
      }
    }

    &.grid{
      & > li {
        display: block;
        float: left;
        width: 22.05%;
        height: 25%;
        
        a.thumb {
          width: 100%;
        }
        
        .caption .post-excerpt{
          display: none;
        }
      }
    }
  }
}
        


// }}}


