body {
  .app_font;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  &.home{
    background: url("../images/fondindienfinal1.jpg") no-repeat scroll 50% 200px;
    background-size: auto 60%;
  }
  &.single-product{
    background: @darkdarkgrey;
    color: white !important;
  }

}

a{
  .link_style1;
} 

p{
  .typo_paragraph;
}

h2{
  .menu_font;
}

h3{
  font-size: 1.1em;
}

#content {
  width: 65%;
  max-width: 1400px;
}

#header{
  background:  url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%; 
//   background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%), url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%; /* FF3.6+ */
//   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
//   background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%), url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%; /* Chrome10+,Safari5.1+ */
//   background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%), url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%; /* Opera 11.10+ */
//   background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%), url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%; /* IE10+ */
//   background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,1) 100%), url("../images/bandeauTricolor1.jpg") repeat-x scroll 50% 0%;
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  
  hgroup {
    margin: 0 15%;
    img{
    }
    margin-bottom: 1.3em;
  }
}

.quantity{
  color: @pantone311C !important;
}

.about-area, .recent-posts, .product-cloud {
  //border: 1px dashed rgba(0,0,0,0.4);
}

.product-cloud{
  input.css-filter{
    display: none;
  }
  label{
    display: inline-block;
    .style1_button;
  }
  input.css-filter:checked{
    .style1_button_checked;
  }
}

#navigation {
  overflow: hidden;
  height: auto; // by default the menu is open
  width: 66%;
  margin: 0 auto;
  
  .transition(height, 0.4s, ease-in-out);  
  

  ul.nav {
    a{
      .menu_font;
    }

    &>li.menu-item {
      float: left;
      text-align: center;
      width: 20%;
      
      a {
        .link_style2;
      } 
      ul {
	display: block;
	position: relative;
	visibility: visible;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: none;
	li {
	  a{
	    font-size: 0.85em;
	  }
	}
      }
    }
    
    li.current-menu-item>a {
      color: black;
    }

    
  }
}


#menu-button {
  float: left;
  margin-right: 10%;
  .style1_button;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
}
#menu-checkbox:checked{
  .style1_button_checked;
}

#menu-checkbox {
  display: none;
  &:not(:checked) ~ #navigation{
    height: 2em; //if recent css3 rules are supported, the menu is closed
  }
  &:checked ~ #navigation {
    height: 8.5em; //and can be reopen of course      li {
  }
}

#footer{
  background: @pantoneFonce3;
  border-radius: 20% 20% 0% 0%;
}

.home-cea {  
  
  &#main {
    width: 100% !important;
  }
  
  .entry {
    text-align: justify;
    h2 {
      text-align: center;
    }
  }
  
}

#product-title{
  text-align: center;
  
  a.artist-image{
    img{
      border-radius: 50%;
    }
  }
}

div#content.single-product-cea{
  width: 75%;
  margin: 0 auto;
  
  section.purchase{
    .content_block_dark;
    float: right;
    right: 10%;
    width : 10%;
  }
  
  section.product-content{
    width: 80%;
    
    h2{
      padding: 0 2em 0 2em;
      margin: 1em 0 0 0;
      background-color: @pantoneFonce1;
      border-radius: 20px 20px 0 0;
    }
    
    .songs-list{
      display: none;
    }
    
    .description{
      .content_block_dark;
      .columns(2);
    }
    
    .listening{
      .content_block_dark;
  
    }
    
    .gallery{
      .content_block_dark;
    }
    
    iframe{
      display: block;
      margin: 0 auto;
    }
  }
}

.single-product-cloud {
  width: 100%;
  height: 100%;
  
  section{
    box-shadow: 0 0 0 1px red;
    overflow: hidden;
  }
  section#product-title{
    display: none;
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
  }
  
  section.purchase{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
  }
  
  section.product-content{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    
    .description{
      display: none;
    }
    .songs-list{
      display: none;
    }
    .listening{
    }
    .gallery{
      display: none;
    }
  }
}

#content.webzine{
  width: 80%;
  
  .col-left{
    width: 77%;
    
    section.post-content{
      margin-bottom: 2em;
    }
    
    img.wp-post-image{
      float: left;
      padding: 1em;
    }
  }
  .col-right{
    background-color: #eee;
    height: 600px;
    border-radius: 20px;
  }
  
}
  