// ---------------------- CSS3 MIXINS ----------------------
.transition (@target: all, @delay: 0.3s, @mode: ease){
  -moz-transition: @target @delay @mode;
  -o-transition: @target @delay @mode;
  -webkit-transition: @target @delay @mode;
  transition: @target @delay @mode
}

.columns(@number){
/*   -webkit-columns: @number; */
/*   -moz-columns: @number; */
/*   columns: @number; */
  column-count: @number;
  column-fill: balance;
  -moz-column-count: @number;
  -moz-column-fill: balance;
  -webkit-column-count: @number;
  -webkit-column-fill: balance;
}

.background-linear-gradient(@color1, @color2:@color1, @color3:@color2, @position1:0%, @position2:50%, @position3:100%, @gradient-shape:linear, @begin:left, @end:right ){
  background: @color1; /* Old browsers */
  background: -moz-linear-gradient(@begin,  @color1 @position1, @color2 @position2, @color3 @position1); /* FF3.6+ */
  background: -webkit-gradient(@gradient-shape, @begin top, @end top, color-stop(@position1,@color1), color-stop(@position2,@color2), color-stop(@position1,@color3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(@begin,  @color1 @position1,@color2 @position2,@color3 @position1); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(@begin,  @color1 @position1,@color2 @position2,@color3 @position3); /* Opera 11.10+ */
  background: -ms-linear-gradient(@begin,  @color1 @position1,@color2 @position2,@color3 @position3); /* IE10+ */
  background: linear-gradient(to @end,  @color1 @position1,@color2 @position2,@color3 @position3); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color3',GradientType=1 ); /* IE6-9 */
}

// ---------------------- COLORS ----------------------

// palette generic
@jazzColor: #aafaff; 
@darkgreyblue: #303942;
@pantone311C: #23C2E3;
@pantoneClair1: lighten(@pantone311C, 48%);
@pantoneClair2: lighten(@pantone311C, 8%);
@pantoneClair3: lighten(@pantone311C, 30%);
@pantoneFonce1: darken(@pantone311C, 10%);
@pantoneFonce2: darken(@pantone311C, 15%);
@pantoneFonce3: darken(@pantone311C, 30%);
@beige1: rgba(244,229,190,1);
@beige2: rgba(242,237,203,1);
@beigeFonce1: #A0947D;
@beigeFonce2: #605849;
@darkgrey1: #333;
@darkgreyTransparent: rgba(20, 20, 20, 0.8);
@darkdarkgrey: #111;

// design colors
@bg1: @beige2;
@bg2: white;
@bgMenu: @pantoneFonce1;
// ---------------------- TYPOGRAPHY ------------------

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,900|Roboto+Slab:400,700);

@font1: 'Roboto', sans-serif;
@font2: 'Roboto Slab', serif;

.link_style1(@font:@font1){
  font-family: @font;
  color: #444;
  font-weight: 400;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  .transition(all, 0.2s);
  &:hover{
    color: @pantone311C;
  }
}

// .link_style2{
//   color: #777;
//   font-weight: 700;
//   font-size: 1.2em;
//   line-height: 1.4em;
//   text-shadow: 0 1px rgba(0,0,0,0.3);
//   .transition(all, 0.3s);
//   &:hover{
//     color: #222;
//   }
// }
// 
// .link_style2p{
//   .app_font;
//   color: white;
//   font-weight: 500;
//   text-shadow: 0 1px rgba(0,0,0,0.3);
//   .transition(all, 0.3s);
//   &:hover{
//     color: #222;
//   }
// }


// ---------------------- BLOCS ------------------

.bordered_glass_block{
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 0.6em;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.4);
}

.inner_shadow_block{ // bloc avec une ombre interne en haut et en bas (menu)
  background: @bgMenu;
  box-shadow: inset 0 0 9px 4px rgba(0,0,0,.2);
}


  .gradient-menu{
    width: 65%;
    margin: 0 auto;
    height: 0.6em;
    background: -moz-linear-gradient(left, rgba(21,110,127,0) 0%, rgba(21,110,127,0.9) 30%, rgba(21,110,127,1) 50%, rgba(21,110,127,0.9) 70%, rgba(21,110,127,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(21,110,127,0)), color-stop(30%,rgba(21,110,127,0.9)), color-stop(50%,rgba(21,110,127,1)), color-stop(70%,rgba(21,110,127,0.9)), color-stop(100%,rgba(21,110,127,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(21,110,127,0) 0%,rgba(21,110,127,0.9) 30%,rgba(21,110,127,1) 50%,rgba(21,110,127,0.9) 70%,rgba(21,110,127,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(21,110,127,0) 0%,rgba(21,110,127,0.9) 30%,rgba(21,110,127,1) 50%,rgba(21,110,127,0.9) 70%,rgba(21,110,127,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(21,110,127,0) 0%,rgba(21,110,127,0.9) 30%,rgba(21,110,127,1) 50%,rgba(21,110,127,0.9) 70%,rgba(21,110,127,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(21,110,127,0) 0%,rgba(21,110,127,0.9) 30%,rgba(21,110,127,1) 50%,rgba(21,110,127,0.9) 70%,rgba(21,110,127,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00156e7f', endColorstr='#00156e7f',GradientType=1 ); /* IE6-9 */
  }


.background_white_blue {
  .background-linear-gradient( @bg1, @bg2, @bg1, 0%, 50%, 100%, linear, left, right); 
}

.content_block_dark {
  padding: 1em 2em 2em 2em;
  background-color: @darkgrey1;
  border-radius: 0 0 20px 20px;
  margin-bottom: 2em;
} 

// ---------------------- BUTTONS ------------------

.style1_button(@font:@font1){
  background-image: none;
  border: 0px;
  text-shadow: none;
  box-shadow: none;
  
  
  padding: 0 0.4em;
  border-radius: 10px;
  min-width: 45px;
  
  font-family: @font;
  font-weight: 500;
  color: white;
  
  background-color: @pantone311C;
  
  
  &:hover{
    background-color: @pantoneFonce1;
    background-image: none;
    border: 0px;
    text-shadow: none;
    box-shadow: none;
  }
  &:active{
    background-color: @pantoneFonce2;
    background-image: none;
    border: 0px;
    text-shadow: none;
    box-shadow: none;
  }
}

.style1_button_checked{
  &+label{
    background-color: @pantoneFonce2;
  }
}

.style2_button(@font:@font1, @borderColor: #ddd, @textColor: #333){
  width: 22px;
  height: 22px;
  background: none;
  border: 2px solid @borderColor;
  text-shadow: none;
  box-shadow: none;
  
  
  border-radius: 50%;
  
  font-family: @font;
  font-weight: 500;
  line-height: 0.9em;
  color: @textColor;
  
  &:hover{
    background-color: @borderColor;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
  }
  &:active{
    background-color: darken(@borderColor, 20%);
    text-shadow: none;
    box-shadow: none;
  }
}
.style2_button_checked{
  &+label{
    background-color: #aaa;
  }
}

  
