
@media only screen and (min-width: 1160px) { 
  
  


#content {

}


  .home {
    
     


    
    .about-area, .recent-posts, .bon-coin {
      width: 93%;
      padding: 3%;
      margin: 4% 0.5% 0 0.5%;
      background-color: @pantoneClair1;
      border-radius: 8px;
      box-shadow: 5px 2px 10px 0 rgba(0,0,0,0.15);
    }
  }

  //-------------------------------------
  
  .archive-product {
    
    
  }

  //-------------------------------------
  
}