
@media only screen and (min-width: 1160px) { 
  
  


#content {
  max-width: 1100px;

}


  .home {
      
    .about-area, .recent-posts, .bon-coin {
      width: 88.8%;
      padding: 2%;
      margin: 4% 3.6% 0 3.6%;
      background-color: @pantoneClair1;
      border-radius: 8px;
      box-shadow: 5px 2px 10px 0 rgba(0,0,0,0.15);
    }
  }

  //-------------------------------------
  
  .archive-product {
    
    
  }

  //-------------------------------------
  
}