
@media only screen and (min-width: 1160px) { 


  .home-cea {
    .about-area {
      float: left;
      width: 26%;
      padding: 2%;
      margin: 4% 2% 0 0%;
      background-color: @pantoneClair1;
      border-radius: 8px;
      box-shadow: 5px 2px 10px 0 rgba(0,0,0,0.15);
    }

    .recent-posts {
      float: left;
      width: 26%;
      margin: 4% 3% 0 3%;
      padding: 2%;
      background-color: @pantoneClair1;
      border-radius: 8px;
      box-shadow: 5px 2px 10px 0 rgba(0,0,0,0.15);
    }

    .product-cloud {
      .cloud; //generic style
      
      width: 100%;
      float: left;
    }
    
    .bon-coin {
      float: left;
      width: 26%;
      height: 300px;
      margin: 4% 0% 0 2%;
      padding: 2%;
      background-color: @pantoneClair1;
      border-radius: 8px;
      box-shadow: 5px 2px 10px 0 rgba(0,0,0,0.15);
    }
  }

  //-------------------------------------
  
  .archive-product {
    
    ul.products {
      &.list{
	& > li {
	  float: none;
	  clear: both;
	  width: 100%;
	  margin-bottom: 2em;
	  text-align: left; 
	  
	  a.thumb {
	    float: left;
	    width: 30%;
	    margin-right: 5%;
	    margin-bottom: 2em;
	    
	    img {
	      overflow: visible;
	    }
	  }
	  
	  section.content {
	    min-width: 300px;
	    margin-bottom: 2em;
	    vertical-align: top
	  }
	}
      }

      &.grid{
	& > li {
	  display: block;
	  float: left;
	  width: 22.05%;
	  height: 25%;
	  
	  a.thumb {
	    width: 100%;
	  }
	  
	  .caption .post-excerpt{
	    display: none;
	  }
	}
      }
    }
  }

  //-------------------------------------
  
}